.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  .featuredItem{
      flex: 1;
      margin: 0px 20px;
      padding: 30px;
      border-radius: 10px;
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 11px -1px #000000; 
      box-shadow: 0px 0px 11px -1px #000000;
  }
  .featuredsection{
     color: lightcoral;
  }
  .featureIconOne{
    color: lightskyblue ;
  }
  .featureIconTwo{
      color:  lightseagreen ;
  }
  .featureTitleOne{
    font-size: 20px;
    color: lightskyblue ;
  }
  .featureTitleTwo{
    font-size: 20px;
    color:  lightseagreen ;
  }
  .featureTitleThree{
      font-size: 20px;
      color: lightcoral;
  }
  .featureMoneyContainer{
      margin:10px 0px ;
      display: flex;
      align-items: center;
  }
  .featureRate{
    font-size: 50px;
    font-weight: 800;
    color: green;
  }
  .featureMoney{
      font-size: 30px;
      font-weight: 400;
  }
  .featureMoneyRate{
      display: flex;
      align-items: center;
     /* margin-left: 20px; */
      color: blue;
  }
 
  